@charset "utf-8";
/* Global page styles */
* {
	margin: 0;
	padding: 0;
	border: none;
	color: rgb(0,0,0);
}
a, p, pre, strong, h1, h2, h3, h4, h5 {
	line-height: 18px;
}
em {
	/* reduce line height for em, Safari adds 1px for some reason */
	line-height: 17px;
}
body {
	min-width: 800px;
	text-align: center;
/*	background: #000;*/
	background-image: url('../images/lines.png');
/*	background: url('images/bggrid.png');*/
}
html,body,div {
	font-size: 13px;
	font-family: "HelveticaNeue-Light", "HelveticaNeue", Helvetica, Arial, sans-serif;
/*	text-decoration: none;*/
}
table {
	width: 100%;
}
td {
	text-align: center;
}
h1 {
	padding-top: 18px;
    font-size: 25px;
/*	padding-bottom: 18px;*/
}
h2 {
	padding-top: 18px;
	padding-bottom: 6px;
}
h3 {
	padding-top: 12px;
	padding-bottom: 6px;
/*	font-size: 16pt;*/
}
h4,h5 {
	padding-top: 0px;
	padding-bottom: 0px;
}
h1, h2, h3, h4, h5 {
	clear: both;
	text-indent: 0;
}
p {
/*	text-align: justify;*/
}
li {
	line-height: 0px;
}
img {
	border: none;
	margin-top: 9px;
	margin-bottom: 9px;
}
.pdfthumb {
	float:left;
	border:1px solid #000;
	margin-right:9px;
	margin-top:0px;
	margin-bottom: 0px;
}
.datathumb {
	float:left;
	border:0px none;
	margin-right:9px;
	margin-top:0px;
	margin-bottom: 0px;
}
.icon {
	float:left;
	margin-right:9px;
	margin-top:0px;
	margin-bottom: 0px;
}
.spacer {
	margin: 0px;
	height: 0px;
	width: 100%;
	padding: 0px;
	border: none;
}

/* Publication listing styles */
.pub {
/*	margin-bottom: 20px;*/
}
.pub_citekey {
}
.pub_author {
	font-style: italic;
}
.pub_title {
	font-weight: bold;
}
.pub_location {	
}
.bibtex, .abstract {
/*	padding-right: 10px;*/
/*	height: 18px;*/
/*	width: auto;*/
/*	overflow: hidden;*/
/*	float: left;*/
	text-align: justify;
	margin-top: 9px;
/*	margin-bottom: 9px;*/
	line-height: 18px;
/*	display: none;*/
}
.abstract {
	text-indent: 18px;
}
.bibtex pre {
	overflow: auto;
/*	display: block;*/
}
.reference {
	font-size: 0.9em;
	text-indent: -1.5em;
	margin-left: 1.5em;
}

/* Layout styles */
#centerwrap {
	width: 836px;
	margin: 0px auto;
	text-align: left;
/*	border-left: 1px solid #000;
	border-right: 1px solid #000;*/
}
#innerwrap {
/*	display: block;*/
/*	background: url('images/lines.png');*/
	margin-left: 18px;
	margin-right: 18px;
	background: #FFF;
}
#head {
/*	height: 75px;*/
/*	background: rgb(221,221,221);*/
/*	background: #FFF;*/
/*	background: rgba(221,221,221,0.75);*/
/*	border: 0px solid #AAA;*/
/*	border-top: none;*/
/*	padding: 0px 25px;*/
	text-align: center;
}
#content {
/*	height: 900px;*/
/*	border-left:  0px solid #AAA;*/
/*	border-right: 0px solid #AAA;*/
background: rgb(255,255,255);
/*background: rgba(255,255,255,0.75);*/
/*	padding-top: 0px;*/
/*	padding-bottom: 10px;*/
}
.image_distribute {
	text-align: justify;
	line-height: 0pt;
}
#foot {
/*	background: rgb(221,221,221);*/
/*	background: rgba(221,221,221,0.75);*/
/*	margin-top:-20px;*/
	font-size: 10px;
	text-align: right;
}
#head, #content, #foot {
	width: 782px;
	padding-left: 9px;
	padding-right: 9px;
}
#content {
	padding-right: 0px;
}
.script_show {
	display: none;
}
.figure img, .figure p, .figure div {
	margin-right: 9px;
	margin-top: 0px;
	margin-bottom: 9px;
	text-align: left;
}
.figure div img {
	margin-left: 0px;
	margin-right: 0px;
}
.figure {
	border: 1px solid #AAA;
	padding-left: 9px;
	padding-top: 9px;
/*	margin-bottom: -1px;*/
	margin-top: 8px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	list-style-type: none;
}
.fig_img_wrap {
	float: left;
	margin-right: 9px;
	margin-bottom: 9px;
	text-align: center;
}
.fig_img_wrap p {
	text-align: center;
	margin: 0px;
	margin-top: 9px;
}
.fig_img_wrap img {
	margin: 0px;
}
.float_figure_left {
	margin-top: -1px;
	margin-right: 9px;
	float: left;
}
.float_figure_right {
	margin-top: -1px;
	margin-left: 9px;
	float: right;
}
.third {
	width: 247px;
}
.quarter {
	width: 183px;
}

/* div to clear both sides */
.clear {
	clear: both;
	height: 0;
}
.hr {
	height: 1px;
	width: 764px;
	background: #AAA;
	margin-left: 18px;
	margin-right: 18px;
/*	margin-top: -1px;*/
}
/* Additional rules to get correct display in ie6 */
.clear, .hr {
	line-height: 0;
	overflow: hidden;
	font-size: 0;
}
.hide {
	display: none;
}

.oracle1 { border: 2px solid #FF0000; }
.oracle2 { border: 2px solid #00FF00; }
.oracle3 { border: 2px solid #0000FF; }
.oracle4 { border: 2px solid #FFFF00; }
.oracle5 { border: 2px solid #800080; }
